//una prueba
@import "secundario/mediaquery";
@import "secundario/mixin.scss";
@import "secundario/formularioContacto";
@import "secundario/extend";
@import "secundario/variables";

*{
    @include pad-marg(0px, 0px);
    box-sizing: border-box; 
}

/*BODY*/
.FONDO {
    background-color:#D9EDBF;
    background-image:url(../Img/img-fondo.webp);
    background-attachment: fixed;
    border: 10px solid blue;
}   

header{    
        .Logo{     
            @include flex;
            @include pad-marg(30px, 50px);
            border-style: double;
            justify-content: center; 
            align-items: center;
            background-color:#D9EDbf;                   
           
            h1{
                /*Estilo titulo de cabecera*/ 
                    font-family: Arial, Helvetica, sans-serif;
                   
                    font-style:italic;
                    text-align: justify;
                    color:#FFB996;
                    text-shadow:2px 2px #AAD9BB;
                    -webkit-text-stroke-color: black;
                    -webkit-text-stroke-width: 2px;
                    
            }
        }
    .VOLVER{ 
             /*seccion navegable*/
        @include flex;
        @include pad-marg(10px, 50px);
        border-style: groove;
        border-color: rgb(111, 71, 255);
        justify-content: center;
        
       nav ul{
            list-style: none;
            @include flex;
            gap: 30px;
            font-weight:bolder;
            font-size:20px;
       }     
        nav ul a:hover{
            background: greenyellow; 
            color:blue;
            text-decoration: wavy;
            cursor:pointer;
        }
    }
}
/*MAIN*/
main{
    margin: 50px;

    .Nuestro-sueño{  
        display: grid;
        grid-template-areas: 
        "nuestro-sueño-titulo"
        "nuestro-sueño-parrafo-1"
        "nuestro-sueño-parrafo-2"
        "nuestro-sueño-parrafo-3"
        "nuestro-sueño-imagen";        ;
        grid-template-columns: 1fr;     
        grid-auto-rows:75px;
        row-gap: 1%;
        justify-content: center;
        align-items: center;    
            h2{
                grid-area: nuestro-sueño-titulo;
                @include texto;  
                text-decoration: underline; 
                font-size: 200%;
                font-weight: 700; 
            }

           .parrafo{ 
                @include texto;   
                font-weight: bold;
            }
            .parrafo-1{
                grid-area: nuestro-sueño-parrafo-1;
            }
            .parrafo-2{
                grid-area: nuestro-sueño-parrafo-2;
            }
            .parrafo-3{
                grid-area: nuestro-sueño-parrafo-3;
            }
                       
            img{
                grid-area: nuestro-sueño-imagen;
                border-width: 30px;
                width: $medida-1 ;
                height: $medida-1;
             
                object-fit: cover;
        }
    } 
    .texto-video,.texto-comentario{
        @include texto-2;
    } 
   
    /*PAGINA PRODUCTOS*/
    h3{ 
        font-style: oblique;
        color: yellowgreen;
        text-align: center;
        background-color:darkgreen;    
    }  
    h4{
        @include texto;
        color: black;
        background: linear-gradient(#d1e1b9,#a8417f);
    }
    .videos{
        text-align: center;
       
    }
    .en-construccion{
        text-align: center;
    }
    .videos{
        iframe{
            width: auto;
            height: auto;
        }
       }
}

footer{
    .col {
        text-align:center;
    }
}
/*para todas las paginas en construcción*/
.construcción{
    background-color: deeppink;
    text-align: center;
    
}


.Volver-arriba{
    text-align: left;
    margin-right: 0px;
      
}
